.advertising{
    width: 100%;
    height: 550px;
    background-color: #F7F6F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
  }
  .advertising .video{
    width: 50%;
    height: 550px;
    margin-left: 150px;
  }
  .advertising .video video{
    width: 100%;
    height: 600px;
  }
  .advertising .content{
    width: 30%;
  }
  .advertising .content h2{
    width: 45%;
    font-size: 40px;
    color: #C7B56F;
  }
  .advertising .content p{
    width: 67%;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    padding-top: 3%;
  }
  